
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>Check artist by locations (US)</title>
</head>
<body>
    <h1>Are you ready to make a roadtrip mix tape?</h1>
    <form action='/results' method='POST'>
    <p>
        Location You are interested <input name="location" type="text"/><br/><br/><br/>
    </p>
    <p>
    Sort by: <br/>
        <input type='radio' name='sort' 
                value='Artist_Followers' checked='checked'/> Artist Followers <br/>
        <input type='radio' name='sort' 
                value='Track_Duration'/> Track Duration <br/>
    </p>
    <p>
    Sort direction: <br/>
        <input type='radio' name='dir'
            value='desc' checked='checked'/>High to Low<br/>
        <input type='radio' name='dir'
            value='asc'/>Low to High<br/>
    </p>
    <p>
        Filter by genre: <br/>
            <select name='genre'>
                <option value='All'>All genres</option>
                <option value='Pop'>Pop</option>
                <option value='Rock'>Rock</option>
                <option value='Rap'>Rap</option>
                <option value='Folk'>Folk</option>
                <option value='Jazz'>Jazz</option>
                <option value='Classic'>Classic</option>
                <option value='Dancing'>Dancing</option>
            </select>

        </p>
        <p>
            <input type='checkbox' name='plot'/>Want check who is the most popular artist?<br/>
        </p>
    
    <input type='submit' value='Get Tracks Results'/>
    </form>
</body>
</html>